main{
    width: 940px;
    margin: 0 auto;
    
}
form{
margin: 40px 0;
}
form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}
.input-patron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0; /* vertical 20 px (arriba y abajo) y horizontal(lados) 0 px */
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orangered;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
    

}
.enviar:hover{
    background: greenyellow;
    transform: scale(1.2);
}    
table{
    margin: 20px 20px;
}
thead{
    background: cyan;
    color: black;
    font-weight: bold;
}
td,th{
    border: 1px solid black;
    padding: 8px 15px;
}
