
header{
    background-color: darkgray;
    padding: 20px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 125px;
    right: 100px;
}
nav li{
 display: inline;
 margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: chartreuse;
    text-decoration: underline;
}

.listaDeProductos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.listaDeProductos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:30px 20px;
    box-sizing: border-box; 
    border: 2px solid black;
    border-radius: 10px ;
    background: url(imgs/servicios-salon-barberia-2048x1360.jpeg);
}

.listaDeProductos li:hover{
    border-color: chartreuse;
}
.listaDeProductos li:active{
    border-color:crimson;
}

.listaDeProductos h2{
    font-size: 30px;
    font-weight: bold;
}
.listaDeProductos li:hover h2{
    font-size: 40px;
}


.producto-descripcion{
    font-size: 25px;
    margin-top: 10px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
footer{
    text-align: center;
    background:url(imgs/bg.jpg);
}
.copyright{
    font-size: 13px;
    color: blueviolet;    
}
