/*.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;

}*/



.tituloPrincipal{
    padding-left: 30px;
}

#fondo{
    object-fit: cover;
   

}
.textoPrincipal{
    background: #6f699f;
    padding: 20 px;

}
p{
    text-align:center


    
    
}
h2{
   
    border:5px solid;color:black;margin: 25px;padding: 30px;
        
}
em strong{
    color:red;
    font-size:x-large
}
#mision {
    font-size: 20px;
    text-align: center;
}
.aspectosDiferenciales{
    background-color:rgb(0, 200, 255);
    padding: 30px;
    

}
.tituloCentrado{
    text-align: center;
    font-size: xx-large;
}
.items{
    font-style: italic;

}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size:x-large
}
.imagenDiferencial{
    width: 50%;
}
