/*.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;

}*/



body{
   
}
#fondo{
    object-fit: cover;
   

}
.textoPrincipal{
    background: #6f699f;

}
p{
    text-align:center


    
    
}
h1{
    text-align: center;
    border:5px solid;color:black;margin: 25px;padding: 30px;
        
}
em strong{
    color:red;
    font-size:x-large
}
#mision {
    font-size: 20px;
    text-align: center;
}
.aspectosDiferenciales{
    background-color:rgb(0, 200, 255);
    

}
h2 {
    text-align: center;
}
.items{
    font-style: italic;

}
ul{
    display: inline-block;
}
.imagenDiferencial{
    width: 50%;
}
